@font-face {
    font-family: "BebasNeueReg";
    src: url("../fonts/9115.otf");
}
@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/Montserrat-Regular.eot");
    src: url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat-Light.eot");
    src: url("../fonts/Montserrat-Light.woff") format("woff"),
    url("../fonts/Montserrat-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url("../fonts/Montserrat-ExtraLight.eot");
    src: url("../fonts/Montserrat-ExtraLight.woff") format("woff"),
    url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.startups{
    width: 100%;
    background-image: url(../img/g.png);
    background-repeat: no-repeat;
    background-position: top right 0;
    padding-top: 200px;
        .flex-one{
            display: flex;
            flex-wrap: wrap;
            .block-two{
                width: 25%;
                padding: 5px 10px 0px 0px;
                .pic4a{
                    float: left;
                    margin: 5px 40px 0px 0px;
                }
                h4{
                    font-family: "BebasNeueReg";
                    text-transform: uppercase;
                    font-size: 30px;
                    color: #0c142b;
                }
                span{
                    font-family: "BebasNeueReg";
                    font-size: 18px;
                    color: #0c142b;
                }
                p{
                    padding-top: 20px;
                    font-size: 16px;
                    color: #a5a5a5;
                    font-family: "Montserrat-Regular";
                }
            }
        }
}