.max-w-825 {
  max-width: 825px;
  margin: 0 auto; }

.max-w-770 {
  max-width: 770px;
  margin: 0 auto; }

.advisors-head {
  text-align: center;
  margin-bottom: 75px;
  font-family: "BebasNeueReg";
  position: relative;
  font-size: 48px;
  color: #0c142b; }
  .advisors-head:before {
    content: "";
    position: absolute;
    top: 100%;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 3px;
    background: #286ed9; }
  .advisors-head.for-padding {
    margin-bottom: 35px; }

.about-sec {
  background-image: url(../img/dots-1.jpg), url(../img/dots-2.jpg);
  background-repeat: no-repeat;
  background-position: top left,top right; }
  .about-sec .about {
    padding-top: 60px;
    padding-bottom: 50px;
    overflow: hidden; }
    .about-sec .about .sl-1 {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between; }
      .about-sec .about .sl-1 .slide {
        outline: none;
        font-family: "BebasNeueReg";
        font-size: 38px;
        letter-spacing: 0.3px;
        color: #d1d1d1;
        text-transform: uppercase;
        transition: 0.3s;
        min-height: 84px;
        display: flex;
        align-items: flex-end;
        line-height: 42px;
        cursor: pointer; }
        .about-sec .about .sl-1 .slide.left-style {
          text-align: right;
          justify-content: flex-end; }
        .about-sec .about .sl-1 .slide.active {
          font-size: 56px;
          line-height: 56px;
          color: #000; }
    .about-sec .about .stick {
      width: 335px;
      background: #b8b8b8;
      margin-bottom: 10px; }
      .about-sec .about .stick:before {
        content: "";
        display: block;
        width: 50%;
        height: 3px;
        background: #286ed9; }
    .about-sec .about .sl-2 .slide {
      outline: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 330px; }
      .about-sec .about .sl-2 .slide p {
        font-size: 20px;
        font-family: "Montserrat-ExtraLight";
        line-height: 1.5;
        letter-spacing: 0.2px;
        margin-bottom: 15px; }
        .about-sec .about .sl-2 .slide p:last-child {
          margin-bottom: 0; }
    .about-sec .about .sl-2 .slick-arrow {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      outline: none;
      background-image: url(../img/arr-right.svg);
      background-repeat: no-repeat;
      background-position: center;
      width: 36px;
      height: 36px;
      background-color: transparent;
      border: none;
      font-size: 0;
      background-size: 22px;
      transition: 0.3s;
      cursor: pointer; }
      .about-sec .about .sl-2 .slick-arrow.slick-disabled {
        opacity: 0; }
      .about-sec .about .sl-2 .slick-arrow.slick-prev {
        transform-origin: center;
        transform: rotate(180deg);
        left: -50px; }
      .about-sec .about .sl-2 .slick-arrow.slick-next {
        right: -50px; }

.advisors .for-padd {
  padding: 0 50px;
  position: relative; }
  .advisors .for-padd:before {
    content: "";
    display: block;
    position: absolute;
    top: 58px;
    width: 100%;
    left: 0;
    height: 1px;
    background: #eeeeee; }
  .advisors .for-padd .slider-advisors .one-slide {
    outline: none;
    padding: 0 15px; }
    .advisors .for-padd .slider-advisors .one-slide .ava {
      width: 115px;
      height: 115px;
      border: 6px solid #e7e7e7;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      margin: 0 auto 18px auto; }
    .advisors .for-padd .slider-advisors .one-slide p {
      font-size: 14px;
      color: #595d68;
      text-align: center;
      font-family: "Montserrat-Regular"; }
      .advisors .for-padd .slider-advisors .one-slide p.name {
        font-weight: bold;
        font-family: "BebasNeueReg";
        font-size: 18px;
        letter-spacing: 1.5px;
        text-align: center;
        margin-bottom: 9px;
        color: #000; }
  .advisors .for-padd .slider-advisors .slick-arrow {
    display: block;
    position: absolute;
    top: 40px;
    width: 35px;
    height: 35px;
    border: 3px solid #eeeeee;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0;
    outline: none; }
    .advisors .for-padd .slider-advisors .slick-arrow:before {
      content: "";
      display: block;
      background-image: url(../img/arr-right-2.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 14px;
      height: 14px;
      width: 14px; }
    .advisors .for-padd .slider-advisors .slick-arrow.slick-disabled:before {
      opacity: 0.5; }
    .advisors .for-padd .slider-advisors .slick-arrow.slick-prev {
      right: calc(100% + 12px);
      transform-origin: center;
      transform: rotate(180deg); }
    .advisors .for-padd .slider-advisors .slick-arrow.slick-next {
      left: calc(100% + 12px); }
      .advisors .for-padd .slider-advisors .slick-arrow.slick-next:before {
        position: relative;
        left: 1px; }

.who-should-a {
  padding-top: 250px; }

/*# sourceMappingURL=style.css.map */
