@media (max-width: 1850px) {
  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter .circle {
    width: 130px;
    height: 130px;
    border: 10px solid #286ed9;
    font-size: 33px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-1 .circle {
    width: 200px;
    height: 200px;
    font-size: 53px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter {
    padding-top: 147px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-1 {
    top: 10px;
    padding-top: 216px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-2 {
    top: -124px;
    left: 340px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-3 {
    top: -35px;
    left: 634px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-4 {
    top: -230px;
    left: 893px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-1:before {
    top: 8px;
    left: 75%;
    -webkit-transform: rotate(-29deg);
            transform: rotate(-29deg);
    width: 218px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter:before {
    height: 5px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-2:before {
    top: 106px;
    left: 68%;
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    width: 190px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-3:before {
    top: -38px;
    left: 59%;
    -webkit-transform: rotate(-39deg);
            transform: rotate(-39deg);
    width: 203px; } }
@media (max-width: 1700px) {
  .counter-sec .for-bg-new-img:before {
    top: 180px; } }
@media (max-width: 1550px) {
  .about-sec {
    background-position: top left -185px, top right -185px; } }
@media (max-width: 1500px) {
  .fixed-menu .menu .side.mid-side {
    max-width: 850px; }

  .fixed-menu .menu .side.mid-side ul li a {
    font-size: 21px; }

  .fixed-menu .menu .side.left-side {
    padding-left: 15px; } }
@media (max-width: 1400px) {
  .m-w-1280 {
    max-width: 1199px; }

  .about-sec {
    background-position: top left -185px, top right -185px; } }
@media (max-width: 1320px) {
  .m-w-1280 {
    max-width: 991px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter p {
    font-size: 21px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter {
    width: 215px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-1:before {
    left: 87%; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-2:before {
    left: 75%; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-3:before {
    left: 64%; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter {
    top: 608px; }

  .counter-sec .for-bg-new-img:before {
    left: -280px; }

  .about-sec {
    background-position: top left -266px, top right -185px; } }
@media (max-width: 1199px) {
  .fixed-menu .menu .side.mid-side {
    max-width: 790px; }

  .fixed-menu .menu .side.right-side {
    display: none; }

  .fixed-menu .menu .side.mid-side {
    padding-right: 15px; }

  .m-w-1280 {
    max-width: 767px; }

  .timeline .body-sec-time-line .side-width .one-time .s {
    font-size: 14px; }

  .startups .flex-one .block-two h4 {
    font-size: 26px; }

  .startups .flex-one .block-two span {
    font-size: 15px; }

  .startups .flex-one .block-two p {
    font-size: 14px; }

  .startups .flex-one .block-two .img-responsive {
    margin: 5px 23px 0px 0px; }

  .counter-sec .head-counter-sec div h4 {
    font-size: 57px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-3 {
    top: 42px;
    left: 560px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-4 {
    top: -230px;
    left: 753px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-2:before {
    top: 135px;
    left: 69%;
    -webkit-transform: rotate(20deg);
    transform: rotate(43deg);
    width: 153px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-1 p {
    font-size: 31px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-3:before {
    top: -82px;
    left: 41%;
    -webkit-transform: rotate(-39deg);
    transform: rotate(-56deg);
    width: 211px; } }
@media (max-width: 991px) {
  .who-should-a .butt-apply {
    background: #286ed8; }

  .fixed-menu .menu .side.mid-side {
    max-width: 600px; }

  .startups .flex-one .block-two {
    width: 50%; }

  .counter-sec .for-hard-bg-2 {
    background-image: none;
    height: auto;
    margin: 0; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter {
    position: relative;
    left: 0 !important;
    top: 0 !important; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: none;
            transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .counter-sec .head-counter-sec:before {
    display: none; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-1 {
    width: 100%; }

  .m-w-1280 {
    max-width: 550px; }

  .m-w-1280 .m-w-33 li {
    font-size: 14px; }

  .m-w-1280 .m-w-33 {
    width: 33%;
    padding: 7px 18px; }

  .m-w-1280 .m-w-33 h4 {
    font-size: 21px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter:before {
    display: none !important; }

  .counter-sec .head-counter-sec {
    display: block;
    margin-bottom: 30px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter .circle {
    color: #000;
    margin-bottom: 20px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter p {
    padding: 0 10px;
    color: #000;
    font-size: 18px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-1 {
    margin-bottom: 30px; }

  .ACCELERATOR {
    padding-top: 40px; }

  .sec-lvl-1 .for-abs-logo .rel-logo .logo img {
    width: 255px;
    position: relative;
    top: -50px; }

  .about-sec .about .sl-1 .slide.active {
    font-size: 47px;
    line-height: 49px; }

  .about-sec {
    background: none; }

  .who-should-a {
    padding-top: 0;
    margin-top: 0;
    background: none;
    height: auto; }

  .who-should-a h5 {
    color: #0c142b; }

  .who-should-a p {
    color: #595d68; }

  .timeline {
    margin-top: 0; }

  .advisors {
    margin-bottom: 30px; }

  .about-sec .about .sl-2 .slide {
    min-height: inherit; }

  .timeline .body-sec-time-line {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  .timeline-period-small {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: "BebasNeueReg"; }

  .for-hidden-important {
    display: block !important; }

  .timeline .body-sec-time-line:before {
    display: none; }

  .timeline .head-sec-time-line .flex-tabs {
    display: none; }

  .timeline .body-sec-time-line .side-width.active.for-w-1 {
    width: 66.66%; }

  .timeline .body-sec-time-line .side-width.mid-side {
    width: 33.33%; }

  .timeline .body-sec-time-line .side-width.mid-side .one-time .s.spr-t {
    display: block !important; }

  .timeline .body-sec-time-line .side-width.mid-side .one-time .s.sum-t {
    display: none !important; }

  .timeline .body-sec-time-line .side-width.mid-side.for-hidden-important .one-time .s.sum-t {
    display: block !important; }

  .timeline .body-sec-time-line .side-width.right-side {
    width: 66.66%; }

  .timeline .body-sec-time-line .side-width .one-time .s {
    opacity: 1; }

  .timeline .body-sec-time-line .side-width .one-time .f {
    color: #286ed9;
    font-size: 30px; }

  .timeline .body-sec-time-line .side-width .one-time .num .bordered {
    background: #286ed9;
    border-color: transparent;
    color: #fff; }

  .timeline .body-sec-time-line .side-width .one-time .num .bordered:before {
    border-color: #286ed9; }

  .timeline .body-sec-time-line .side-width .one-time .num .bordered:after {
    border-color: #89afea; }

  .timeline .body-sec-time-line .side-width .one-time .num {
    background: #fff;
    border-color: #c9dbf5; }

  .timeline .body-sec-time-line .side-width .one-time .s {
    min-height: inherit; }

  .startups {
    padding-top: 85px; }

  .startups .flex-one .block-two {
    margin-bottom: 20px; }

  .counter-sec {
    padding-top: 70px; }

  .ACCELERATOR span {
    padding-bottom: 50px; }

  .m-w-1280 .m-w-33:before {
    display: none; }

  .for-butt .for-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

  .Community {
    padding-top: 75px; }

  .footer .for-flex-footer .soc-set-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .footer .for-flex-footer .soc-set-links a {
    padding-right: 35px; }

  .counter-sec .for-bg-new-img:before {
    display: none; }

  .ACCELERATOR:before {
    display: none; }

  .startups:before {
    display: none; }

  .timeline .body-sec-time-line .side-width.left-side {
    width: 66.66%; }

  .fixed-menu .menu .side.mid-side ul li a {
    font-size: 16px; }

  .menu ul li a {
    font-size: 16px; }

  .Community {
    overflow: hidden; } }
@media (max-width: 767px) {
  .startups .flex-one .block-two {
    width: 50%; }

  .m-w-1280 .m-w-33 {
    width: 100%; }

  .sec-lvl-1 {
    height: auto; }

  .m-w-1280 {
    max-width: 280px; }

  .m-w-1280 .slick-arrow.slick-next {
    right: 0; }

  .m-w-1280 .slick-arrow.slick-prev {
    left: 0; }

  .new-slider-3 .slick-dots {
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .new-slider-3 .slick-dots li {
      padding: 0 3px; }
      .new-slider-3 .slick-dots li button {
        outline: none;
        border: none;
        background: #a5a5a5;
        display: block;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        font-size: 0; }
      .new-slider-3 .slick-dots li.slick-active button {
        background: #276dd7; }

  .Community {
    padding-bottom: 0;
    background: none; }

  .footer {
    padding-top: 30px;
    margin: 0; }

  .footer .for-flex-footer {
    display: block; }
    .footer .for-flex-footer .left-side {
      margin-bottom: 30px; }

  .matching .padd .color-or {
    font-size: 27px; }

  .matching .padd p {
    font-size: 13px; }

  .abs-menu {
    position: relative; }

  .sec-lvl-1 .for-abs-logo {
    display: block;
    padding: 0; }

  .butt-apply {
    position: relative;
    bottom: 0; }

  .sec-lvl-1 .for-abs-logo .rel-logo {
    height: auto; }

  .sec-lvl-1 .for-abs-logo {
    position: relative; }

  .sec-lvl-1 .for-abs-logo .rel-logo .logo {
    padding: 50px 0; }

  .sec-lvl-1 .for-abs-logo .rel-logo .logo img {
    top: 0; }

  .menu {
    border-top: none;
    padding: 0; }

  .menu ul {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    display: block; }

  .butt-apply {
    margin-bottom: 20px; }

  .navbar-toggle {
    border: none; }

  .navbar-toggle .icon-bar {
    background: #fff; }

  .butt-apply {
    width: 190px; }

  .navbar-toggle {
    top: -18px; }

  .about-sec .about .sl-1 .slide.active,
  .about-sec .about .sl-1 .slide {
    font-size: 27px;
    line-height: 31px; }

  .about-sec .about {
    padding-top: 30px; }

  .advisors .for-padd {
    padding: 0 35px; }

  .advisors .for-padd .slider-advisors .one-slide p {
    font-size: 12px; }

  .who-should-a h5 {
    font-size: 40px; }

  .timeline .body-sec-time-line .side-width.active.for-w-1 {
    width: 100%; }

  .timeline .body-sec-time-line .side-width.mid-side {
    width: 100%; }

  .timeline .body-sec-time-line .side-width .one-time {
    width: 100%; }

  .timeline .body-sec-time-line .side-width.active.for-w-1 {
    display: block; }

  .timeline .body-sec-time-line .side-width .one-time .f {
    margin-bottom: 138px; }

  .timeline .body-sec-time-line .side-width .one-time .num {
    top: 65px; }

  .timeline .body-sec-time-line .side-width .one-time {
    margin-bottom: 20px; }

  .timeline .body-sec-time-line .side-width.right-side {
    width: 100%;
    display: block; }

  .timeline-period-small {
    margin-bottom: 45px; }

  .advisors-head {
    font-size: 23px; }

  .startups .flex-one {
    display: block; }

  .startups .flex-one .block-two {
    width: 100%; }

  .counter-sec .head-counter-sec div h4 {
    font-size: 25px;
    line-height: normal; }

  .counter-sec .head-counter-sec div p {
    font-size: 22px; }
    .counter-sec .head-counter-sec div p span {
      font-size: 43px; }

  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter p {
    margin-bottom: 25px; }

  .fixed-menu .navbar-toggle {
    top: -1px; }
    .fixed-menu .navbar-toggle .icon-bar {
      background: #595d68; }

  .fixed-menu .menu {
    display: block; }

  .fixed-menu .menu .side.mid-side {
    width: 100%; }

  .menu ul {
    padding: 15px 15px 0 15px; }

  .for-flag {
    bottom: 6px;
    right: 5px; }

  .timeline .head-sec-time-line h3 {
    font-size: 49px;
    line-height: 52px; }

  .parteners .flex-partners .one-partner {
    width: 100%;
    max-width: 300px;
    margin: 0 auto; }

  .sec-lvl-5 {
    padding-top: 50px; }

  .sec-lvl-5 .list-acceleration .one-item .desc {
    padding-left: 8px; }

  .sec-lvl-5 .list-acceleration .one-item .desc .f {
    font-size: 23px;
    line-height: 25px; }

  .sec-lvl-5 .list-acceleration .one-item .desc .s {
    font-size: 16px; }

  .sec-lvl-5 {
    padding-bottom: 16px; }

  .counter-sec {
    overflow: hidden; } }

/*# sourceMappingURL=media.css.map */