@font-face {
    font-family: "BebasNeueReg";
    src: url("../fonts/9115.otf");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../fonts/RobotoLight.eot");
    src: url("../fonts/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/RobotoLight.eot");
    src: url("../fonts/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat-ExtraLight";
    src: url("../fonts/RobotoLight.eot");
    src: url("../fonts/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.startups {
    background-image: url(../img/g.png);
    background-repeat: no-repeat;
    background-position: top right 0;
    padding-top: 140px;
    position: relative;
    &:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: -220px;
        width: 50%;
        height: 399px;
        background-image: url(../img/1-1.png);
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
    }
    .flex-one {
        display: flex;
        flex-wrap: wrap;
        .block-two {
            width: 25%;
            padding: 5px 15px 0px 15px;
            .block-one {
                display: flex;
                align-items: flex-start;
                img {
                    flex-shrink: 0;
                }
            }
            .img-responsive {
                margin: 5px 40px 0px 0px;
            }
            h4 {
                font-family: "BebasNeueReg";
                text-transform: uppercase;
                font-size: 30px;
                color: #0c142b;
            }
            span {
                font-family: "BebasNeueReg";
                font-size: 18px;
                color: #0c142b;
            }
            .padding-one {
                padding-top: 30px;
            }
            p {
                padding-top: 20px;
                font-size: 16px;
                color: #a5a5a5;
                font-family: "Montserrat-Regular";
            }
        }
    }
}

.ACCELERATOR {
    padding-top: 10px;
    margin-bottom: 50px;
    position: relative;
    &:before {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: -363px;
        width: 688px;
        height: 489px;
        background-image: url(../img/1-3.jpg);
        background-repeat: no-repeat;
        background-position: top right;
    }
    span {
        display: block;
        font-family: "BebasNeueReg";
        font-size: 18px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 145px;
    }
}

.matching {
    .m-w-500 {
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }
    .padd {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .color-or {
            color: #fd7400;
            margin-bottom: 5px;
            font-family: "BebasNeueReg";
            position: relative;
            font-size: 36px;
            &:before {
                content: "";
                position: absolute;
                top: 100%;
                display: block;
                left: 50%;
                transform: translateX(-50%);
                width: 70px;
                height: 3px;
                background: #fd7400;
            }
        }
        p {
            font-family: "Montserrat-ExtraLight";
            font-size: 16px;
            color: #0c142b;
        }
    }
}

.Community {
    padding-top: 190px;
    .m-w-825 {
        max-width: 825px;
        display: block;
        margin: 0 auto;
    }
    p {
        font-family: "Montserrat-ExtraLight";
        font-size: 18px;
        color: #0c142b;
        text-align: center;
    }
}

.m-w-1280 {
    max-width: 1280px;
    margin: 0 auto;
    .m-w-33 {
        width: 33%;
        padding: 7px 45px;
        outline: none;
        height: 100%;
        position: relative;
        &:before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 1px;
            height: 346px;
            background: #e1e1e1;
        }
        &:last-child {
            &:before {
                display: none;
            }
        }
        h4 {
            font-family: "BebasNeueReg";
            font-size: 24px;
            color: #0c142b;
            padding-bottom: 35px;
        }
        li {
            font-family: "Montserrat-ExtraLight";
            color: #0c142b;
            font-size: 16px;
        }
    }
    .slick-arrow {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        outline: none;
        background-image: url(../img/arr-right.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 36px;
        height: 36px;
        background-color: transparent;
        border: none;
        font-size: 0;
        background-size: 22px;
        transition: 0.3s;
        cursor: pointer;
        &.slick-disabled {
            opacity: 0;
        }
        &.slick-prev {
            transform-origin: center;
            transform: rotate(180deg);
            left: -50px;
        }
        &.slick-next {
            right: -50px;
        }
    }
}

.for-butt {
    margin-bottom: 80px;
    .for-flex {
        display: flex;
        justify-content: flex-end;
        .my-butt {
            display: block;
            padding: 4px 110px;
            border-radius: 30px;
            background: linear-gradient(45deg, #17307f, #227cc4);
            font-size: 18px;
            font-family: "BebasNeueReg";
            color: #fff;
            transition: 0.3s;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
