.max-w-825 {
  max-width: 825px;
  margin: 0 auto; }

.max-w-770 {
  max-width: 770px;
  margin: 0 auto; }

.sec-lvl-1 {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: url(../img/bg-movie.png);
  background-size: cover;
  background-position: center; }
  .sec-lvl-1:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
  .sec-lvl-1 #video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 2; }
  .sec-lvl-1 .for-abs-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 62px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 10; }
    .sec-lvl-1 .for-abs-logo .rel-logo {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .sec-lvl-1 .for-abs-logo .rel-logo .logo {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }

.butt-apply {
  position: absolute;
  bottom: calc(100% + 37px);
  right: 0;
  display: block;
  padding: 4px 0;
  text-align: center;
  width: 285px;
  border-radius: 30px;
  background: rgba(23, 48, 126, 0.24);
  border: 1px solid #286ed8;
  font-size: 18px;
  font-family: "BebasNeueReg";
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .butt-apply:hover {
    opacity: 0.8;
    color: #fff; }

.f-w-baner {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  position: relative; }

.abs-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }

.menu {
  position: relative;
  z-index: 50;
  padding: 37px 0;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.15); }
  .menu ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0; }
    .menu ul li a {
      font-size: 24px;
      font-family: "BebasNeueReg";
      text-transform: uppercase;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      color: #fff; }
      .menu ul li a.active {
        color: #266ad2; }

.fixed-menu {
  position: fixed;
  top: -1000px;
  -webkit-transition: 1s;
  transition: 1s;
  left: 0;
  width: 100%;
  z-index: 200; }
  .fixed-menu.js-fixed {
    top: 0; }
  .fixed-menu .menu {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 50;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 17px 0;
    width: 100%;
    -webkit-box-shadow: 0 1.5px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 1.5px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.05); }
    .fixed-menu .menu.js-fixed {
      position: fixed;
      top: 0;
      left: 0; }
    .fixed-menu .menu .side {
      width: 100%; }
      .fixed-menu .menu .side.left-side {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 45px; }
        .fixed-menu .menu .side.left-side img {
          -ms-flex-negative: 0;
              flex-shrink: 0; }
        .fixed-menu .menu .side.left-side .name {
          padding-left: 10px;
          font-family: "BebasNeueReg";
          font-size: 22px;
          color: #266ad2; }
      .fixed-menu .menu .side.mid-side {
        width: 100%;
        max-width: 1170px;
        -ms-flex-negative: 0;
            flex-shrink: 0; }
        .fixed-menu .menu .side.mid-side ul li a {
          color: #595d68;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
          .fixed-menu .menu .side.mid-side ul li a:hover {
            color: #266ad2; }
          .fixed-menu .menu .side.mid-side ul li a.active {
            color: #266ad2; }

.timeline-period-small {
  display: none; }

.for-hidden-important {
  display: none !important; }

.advisors-head {
  text-align: center;
  margin-bottom: 75px;
  font-family: "BebasNeueReg";
  position: relative;
  font-size: 48px;
  color: #0c142b; }
  .advisors-head:before {
    content: "";
    position: absolute;
    top: 100%;
    display: block;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 70px;
    height: 3px;
    background: #286ed9; }
  .advisors-head.for-padding {
    margin-bottom: 35px; }
  .advisors-head.for-padding-1 {
    margin-bottom: 5px; }

.about-sec {
  background-image: url(../img/dots-1.jpg), url(../img/dots-2.jpg);
  background-repeat: no-repeat;
  background-position: top left, top right; }
  .about-sec .about {
    padding-top: 60px;
    padding-bottom: 50px;
    overflow: hidden; }
    .about-sec .about .sl-1 {
      margin-bottom: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .about-sec .about .sl-1 .slide {
        outline: none;
        font-family: "BebasNeueReg";
        font-size: 38px;
        letter-spacing: 0.3px;
        color: #d1d1d1;
        text-transform: uppercase;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        min-height: 84px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        line-height: 42px;
        cursor: pointer; }
        .about-sec .about .sl-1 .slide.left-style {
          text-align: right;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: flex-end; }
        .about-sec .about .sl-1 .slide.active {
          font-size: 56px;
          line-height: 56px;
          color: #000; }
    .about-sec .about .stick {
      width: 335px;
      background: #b8b8b8;
      margin-bottom: 10px; }
      .about-sec .about .stick:before {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        background: #286ed9; }
    .about-sec .about .sl-2 .slide {
      outline: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      min-height: 330px; }
      .about-sec .about .sl-2 .slide p {
        font-size: 20px;
        font-family: "Montserrat-ExtraLight";
        line-height: 1.5;
        letter-spacing: 0.2px;
        margin-bottom: 15px; }
        .about-sec .about .sl-2 .slide p:last-child {
          margin-bottom: 0; }
    .about-sec .about .sl-2 .slick-arrow {
      display: block;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      outline: none;
      background-image: url(../img/arr-right.svg);
      background-repeat: no-repeat;
      background-position: center;
      width: 36px;
      height: 36px;
      background-color: transparent;
      border: none;
      font-size: 0;
      background-size: 22px;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      cursor: pointer; }
      .about-sec .about .sl-2 .slick-arrow.slick-disabled {
        opacity: 0; }
      .about-sec .about .sl-2 .slick-arrow.slick-prev {
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
        left: -50px; }
      .about-sec .about .sl-2 .slick-arrow.slick-next {
        right: -50px; }

.advisors .for-padd {
  padding: 0 50px;
  position: relative; }
  .advisors .for-padd:before {
    content: "";
    display: block;
    position: absolute;
    top: 58px;
    width: 100%;
    left: 0;
    height: 1px;
    background: #eeeeee; }
  .advisors .for-padd .slider-advisors .one-slide {
    outline: none;
    padding: 0 15px; }
    .advisors .for-padd .slider-advisors .one-slide .ava {
      width: 115px;
      height: 115px;
      border: 6px solid #e7e7e7;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      margin: 0 auto 18px auto; }
    .advisors .for-padd .slider-advisors .one-slide p {
      font-size: 14px;
      color: #595d68;
      text-align: center;
      font-family: "Montserrat-Regular"; }
      .advisors .for-padd .slider-advisors .one-slide p.name {
        font-weight: bold;
        font-family: "BebasNeueReg";
        font-size: 18px;
        letter-spacing: 1.5px;
        text-align: center;
        margin-bottom: 9px;
        color: #000; }
  .advisors .for-padd .slider-advisors .slick-arrow {
    display: block;
    position: absolute;
    top: 40px;
    width: 35px;
    height: 35px;
    border: 3px solid #eeeeee;
    background: #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 0;
    outline: none; }
    .advisors .for-padd .slider-advisors .slick-arrow:before {
      content: "";
      display: block;
      background-image: url(../img/arr-right-2.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 14px;
      height: 14px;
      width: 14px; }
    .advisors .for-padd .slider-advisors .slick-arrow.slick-disabled:before {
      opacity: 0.5; }
    .advisors .for-padd .slider-advisors .slick-arrow.slick-prev {
      right: calc(100% + 12px);
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    .advisors .for-padd .slider-advisors .slick-arrow.slick-next {
      left: calc(100% + 12px); }
      .advisors .for-padd .slider-advisors .slick-arrow.slick-next:before {
        position: relative;
        left: 1px; }

.who-should-a {
  margin-top: -150px;
  padding-top: 430px;
  padding-bottom: 50px;
  background-image: url(../img/hard-bg-1-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 1408px; }
  .who-should-a h5 {
    font-size: 72px;
    font-family: "BebasNeueReg";
    text-align: center;
    margin-bottom: 35px;
    color: #fff; }
  .who-should-a p {
    font-size: 18px;
    font-family: "Montserrat-Regular";
    color: #fff; }

.timeline {
  margin-top: -250px; }
  .timeline .head-sec-time-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 70px; }
    .timeline .head-sec-time-line h3 {
      font-size: 72px;
      line-height: 72px;
      color: #276cd6;
      font-family: "BebasNeueReg";
      letter-spacing: 2px;
      position: relative; }
      .timeline .head-sec-time-line h3:before {
        content: "";
        position: absolute;
        top: 100%;
        display: block;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        width: 70px;
        height: 3px;
        background: #286ed9; }
    .timeline .head-sec-time-line .flex-tabs {
      width: 100%;
      max-width: 330px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end; }
      .timeline .head-sec-time-line .flex-tabs .timeline-period {
        font-size: 18px;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        cursor: pointer;
        color: #a9a9a9;
        font-family: "BebasNeueReg"; }
        .timeline .head-sec-time-line .flex-tabs .timeline-period.active {
          font-size: 30px;
          color: #000;
          line-height: 35px; }
  .timeline .body-sec-time-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    z-index: 10; }
    .timeline .body-sec-time-line:before {
      content: "";
      display: block;
      position: absolute;
      top: 128px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 85%;
      height: 1px;
      background: #ebebeb; }
    .timeline .body-sec-time-line .side-width {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .timeline .body-sec-time-line .side-width .one-time {
        padding: 0 15px;
        width: 50%;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        position: relative; }
        .timeline .body-sec-time-line .side-width .one-time .f {
          color: #c1c1c2;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          font-family: "BebasNeueReg";
          text-align: center;
          font-size: 21px;
          font-weight: bold;
          margin-bottom: 180px; }
        .timeline .body-sec-time-line .side-width .one-time .num {
          position: absolute;
          top: 80px;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          border: 1px solid transparent;
          width: 95px;
          height: 95px;
          border-radius: 50%;
          background: transparent;
          padding: 30px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-transition: 0.3s;
          transition: 0.3s; }
          .timeline .body-sec-time-line .side-width .one-time .num .bordered {
            position: relative;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            background: #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            color: #000;
            -webkit-transition: 0.3s;
            transition: 0.3s;
            font-size: 18px;
            line-height: 18px;
            font-family: "BebasNeueReg";
            border: 1px solid #ebebeb; }
            .timeline .body-sec-time-line .side-width .one-time .num .bordered:before {
              content: "";
              display: block;
              position: absolute;
              width: 55px;
              height: 55px;
              border-radius: 50%;
              background: transparent;
              border: 1px solid transparent;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
                      transform: translate(-50%, -50%); }
            .timeline .body-sec-time-line .side-width .one-time .num .bordered:after {
              content: "";
              display: block;
              position: absolute;
              width: 75px;
              height: 75px;
              border-radius: 50%;
              background: transparent;
              border: 1px solid transparent;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
                      transform: translate(-50%, -50%); }
        .timeline .body-sec-time-line .side-width .one-time .s {
          color: #383838;
          font-family: "Montserrat-Regular";
          font-size: 16px;
          opacity: 0;
          min-height: 160px; }
      .timeline .body-sec-time-line .side-width.left-side {
        width: 40%; }
      .timeline .body-sec-time-line .side-width.mid-side {
        -ms-flex-negative: 0;
            flex-shrink: 0;
        width: 25%; }
        .timeline .body-sec-time-line .side-width.mid-side .one-time {
          width: 100%; }
          .timeline .body-sec-time-line .side-width.mid-side .one-time .s {
            display: none; }
            .timeline .body-sec-time-line .side-width.mid-side .one-time .s.active {
              display: block; }
      .timeline .body-sec-time-line .side-width.right-side {
        width: 40%; }
      .timeline .body-sec-time-line .side-width.active.for-w-1 {
        width: 75%; }
      .timeline .body-sec-time-line .side-width.active .one-time .num {
        background: #fff;
        border-color: #c9dbf5; }
        .timeline .body-sec-time-line .side-width.active .one-time .num .bordered {
          background: #286ed9;
          border-color: transparent;
          color: #fff; }
          .timeline .body-sec-time-line .side-width.active .one-time .num .bordered:before {
            border-color: #286ed9; }
          .timeline .body-sec-time-line .side-width.active .one-time .num .bordered:after {
            border-color: #89afea; }
      .timeline .body-sec-time-line .side-width.active .one-time .f {
        color: #286ed9;
        font-size: 30px; }
      .timeline .body-sec-time-line .side-width.active .one-time .s {
        opacity: 1;
        -webkit-transition: 0.5s;
        transition: 0.5s; }

.counter-sec {
  padding-top: 150px; }
  .counter-sec .for-bg-new-img {
    position: relative; }
    .counter-sec .for-bg-new-img:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 100px;
      width: 688px;
      height: 489px;
      background-image: url(../img/1-2.jpg);
      background-repeat: no-repeat; }
  .counter-sec .head-counter-sec {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .counter-sec .head-counter-sec:before {
      display: block;
      content: "";
      position: absolute;
      left: -150px;
      top: 100%;
      width: 517px;
      height: 367px;
      background-image: url(../img/man-2.png);
      background-repeat: no-repeat;
      background-position: center; }
    .counter-sec .head-counter-sec div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .counter-sec .head-counter-sec div h4 {
        color: #276dd7;
        position: relative;
        font-size: 72px;
        font-family: "BebasNeueReg";
        letter-spacing: 1px;
        line-height: 72px;
        margin-bottom: 30px; }
        .counter-sec .head-counter-sec div h4:before {
          content: "";
          position: absolute;
          top: 100%;
          display: block;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          width: 70px;
          height: 3px;
          background: #286ed9; }
      .counter-sec .head-counter-sec div p {
        font-family: "BebasNeueReg";
        color: #0c142b;
        font-size: 36px;
        font-weight: bold; }
        .counter-sec .head-counter-sec div p span {
          color: #fd7400;
          font-size: 60px;
          line-height: 60px; }
  .counter-sec .for-hard-bg-2 {
    background-image: url(../img/hard-bg-2.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 1144px;
    position: relative;
    margin-top: -145px;
    z-index: 10; }
    .counter-sec .for-hard-bg-2 .wrapp-forcounter {
      width: 100%;
      max-width: 1170px;
      position: absolute;
      top: 580px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
      .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter {
        position: absolute;
        width: 310px;
        padding-top: 245px; }
        .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter:before {
          content: "";
          display: block;
          position: absolute;
          width: 244px;
          height: 8px;
          background: #fff; }
        .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter .circle {
          z-index: 2;
          width: 230px;
          height: 230px;
          border: 25px solid #286ed9;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
                  transform: translateX(-50%);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          font-size: 50px;
          font-family: "BebasNeueReg";
          color: #fff;
          font-weight: bold; }
        .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter p {
          font-family: "BebasNeueReg";
          color: #fff;
          font-size: 27px;
          text-align: center; }
        .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-1 {
          top: -47px;
          left: 0;
          padding-top: 320px; }
          .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-1 .circle {
            width: 300px;
            height: 300px;
            font-size: 66px; }
          .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-1 p {
            font-size: 36px; }
          .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-1:before {
            top: 63px;
            left: 93%;
            -webkit-transform: rotate(-20deg);
                    transform: rotate(-20deg); }
        .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-2 {
          top: -180px;
          left: 473px; }
          .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-2:before {
            top: 182px;
            left: 77%;
            -webkit-transform: rotate(20deg);
                    transform: rotate(20deg);
            width: 217px; }
        .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-3 {
          top: -35px;
          left: 862px; }
          .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-3:before {
            top: -26px;
            left: 71%;
            -webkit-transform: rotate(-39deg);
                    transform: rotate(-39deg);
            width: 217px; }
        .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-4 {
          top: -310px;
          left: 1187px; }
          .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter.counter-4:before {
            display: none; }

.for-m-w-new {
  max-width: 1340px;
  margin: 0 auto; }

.footer {
  padding: 0;
  margin-top: -50px;
  padding-bottom: 15px;
  padding-top: 285px;
  background-color: #286ed9;
  background-image: url(../img/footer-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  max-width: 1920px;
  margin: -330px auto 0 auto; }
  .footer .for-flex-footer {
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .for-flex-footer .head {
      font-size: 48px;
      color: #fff;
      font-family: "BebasNeueReg";
      font-weight: bold;
      margin: 0;
      line-height: 48px; }
    .footer .for-flex-footer .right-side {
      max-width: 320px;
      width: 100%; }
    .footer .for-flex-footer .soc-set-links {
      padding-top: 20px; }
      .footer .for-flex-footer .soc-set-links a {
        display: block;
        color: #fff;
        font-family: "BebasNeueReg";
        margin-bottom: 16px;
        letter-spacing: 1px; }
        .footer .for-flex-footer .soc-set-links a:hover {
          color: #fff; }
    .footer .for-flex-footer .sec-t {
      display: block;
      color: #fff;
      font-family: "BebasNeueReg";
      letter-spacing: 1px; }
    .footer .for-flex-footer form input {
      display: block;
      padding: 1rem 2rem;
      border-radius: 5px;
      max-width: 300px;
      outline: none;
      background: #2266bd;
      border: none;
      width: 100%;
      font-family: "Montserrat-Regular";
      letter-spacing: 1px;
      color: #fff;
      margin-bottom: 1.8rem;
      border: 1px solid rgba(255, 255, 255, 0.3); }
    .footer .for-flex-footer form button {
      display: block;
      visibility: hidden; }
  .footer .align {
    text-align: center;
    font-family: "BebasNeueReg";
    font-size: 18px;
    color: #fff; }

.Community {
  background-image: url(../img/hard-bg-5.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding-top: 138px;
  padding-bottom: 275px;
  z-index: 10;
  position: relative; }

.for-m-w-825 {
  max-width: 825px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 65px; }

.counter-sec .head-counter-sec:before {
  display: none; }

.for-flag {
  width: 50px;
  position: relative;
  color: #fff;
  font-family: "BebasNeueReg";
  letter-spacing: 1px; }
  .for-flag .dropdown-wrch {
    display: none; }
  .for-flag .flag-vr {
    padding-left: 22px;
    padding-right: 15px;
    text-transform: uppercase;
    cursor: pointer; }
    .for-flag .flag-vr:before {
      content: '';
      position: absolute;
      left: 0;
      top: 5px;
      width: 18px;
      height: 12px;
      background: url(../img/ru.png);
      background-size: cover;
      background-repeat: no-repeat; }
    .for-flag .flag-vr:after {
      content: '';
      position: absolute;
      right: 0;
      top: 9px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #fff transparent transparent transparent; }
  .for-flag .pick-lang {
    position: absolute;
    left: 0;
    border: 1px solid #ffffff;
    z-index: 20;
    top: 100%; }
    .for-flag .pick-lang a {
      color: #fff;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      display: block;
      padding: 2px 16px;
      font-size: 16px; }

.max-w-770 {
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear;
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1); }
  .max-w-770[data-anim=true] {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }

.advisors {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear;
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1); }
  .advisors[data-anim=true] {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }

.flex-one .block-two {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear;
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1); }
  .flex-one .block-two:nth-child(1) {
    -webkit-transition-delay: .15s,.3s;
            transition-delay: .15s,.3s; }
  .flex-one .block-two:nth-child(2) {
    -webkit-transition-delay: .25s,.4s;
            transition-delay: .25s,.4s; }
  .flex-one .block-two:nth-child(3) {
    -webkit-transition-delay: .35s,.5s;
            transition-delay: .35s,.5s; }
  .flex-one .block-two:nth-child(4) {
    -webkit-transition-delay: .45s,.6s;
            transition-delay: .45s,.6s; }
.flex-one[data-anim=true] .block-two {
  opacity: 1;
  -webkit-transform: none;
          transform: none; }

.new-slider-3 .m-w-33 {
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear;
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1); }
  .new-slider-3 .m-w-33:nth-child(1) {
    -webkit-transition-delay: .15s,.3s;
            transition-delay: .15s,.3s; }
  .new-slider-3 .m-w-33:nth-child(2) {
    -webkit-transition-delay: .25s,.4s;
            transition-delay: .25s,.4s; }
  .new-slider-3 .m-w-33:nth-child(3) {
    -webkit-transition-delay: .35s,.5s;
            transition-delay: .35s,.5s; }
  .new-slider-3 .m-w-33:nth-child(4) {
    -webkit-transition-delay: .45s,.6s;
            transition-delay: .45s,.6s; }
.new-slider-3[data-anim=true] .m-w-33 {
  opacity: 1;
  -webkit-transform: none;
          transform: none; }

.who-should-a .butt-apply {
  bottom: 0;
  position: relative;
  margin: 40px auto 0 auto; }

.timeline .head-sec-time-line {
  opacity: 0;
  -webkit-transform: translateX(-70px);
          transform: translateX(-70px);
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear;
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1); }
  .timeline .head-sec-time-line[data-anim=true] {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }

.timeline .body-sec-time-line {
  opacity: 0;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear;
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1); }
  .timeline .body-sec-time-line[data-anim=true] {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }

.advisors-head.for-padding {
  opacity: 0;
  -webkit-transform: translateX(-70px);
          transform: translateX(-70px);
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear;
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1); }
  .advisors-head.for-padding[data-anim=true] {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }

.Community p {
  opacity: 0;
  -webkit-transform: translateX(70px);
          transform: translateX(70px);
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear;
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1); }
  .Community p[data-anim=true] {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }

.counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter {
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear;
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1); }
  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter:before {
    opacity: 0;
    -webkit-transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear;
    transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1); }
  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter:nth-child(1) {
    -webkit-transition-delay: .15s,.3s;
            transition-delay: .15s,.3s; }
    .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter:nth-child(1):before {
      -webkit-transition-delay: .65s,.8s;
              transition-delay: .65s,.8s; }
  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter:nth-child(2) {
    -webkit-transition-delay: .25s,.4s;
            transition-delay: .25s,.4s; }
    .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter:nth-child(2):before {
      -webkit-transition-delay: .75s,.9s;
              transition-delay: .75s,.9s; }
  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter:nth-child(3) {
    -webkit-transition-delay: .35s,.5s;
            transition-delay: .35s,.5s; }
    .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter:nth-child(3):before {
      -webkit-transition-delay: .85s,1s;
              transition-delay: .85s,1s; }
  .counter-sec .for-hard-bg-2 .wrapp-forcounter .one-counter:nth-child(4) {
    -webkit-transition-delay: .45s,.6s;
            transition-delay: .45s,.6s; }
.counter-sec .for-hard-bg-2 .wrapp-forcounter[data-anim=true] .one-counter {
  opacity: 1; }
  .counter-sec .for-hard-bg-2 .wrapp-forcounter[data-anim=true] .one-counter:before {
    opacity: 1; }

.counter-sec .head-counter-sec div h4 {
  opacity: 0;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear;
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1); }
  .counter-sec .head-counter-sec div h4[data-anim=true] {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }

.counter-sec .head-counter-sec div p {
  opacity: 0;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1);
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear;
  transition: transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1), opacity 0.5s linear, -webkit-transform 0.75s cubic-bezier(0.39, 0.575, 0.565, 1); }
  .counter-sec .head-counter-sec div p[data-anim=true] {
    opacity: 1;
    -webkit-transform: none;
            transform: none; }

.parteners {
  background: #fff;
  padding: 82px 0; }
  .parteners h3 {
    font-weight: 0;
    font-family: "BebasNeueReg";
    text-align: center;
    line-height: 0.83;
    letter-spacing: 0.3px;
    font-size: 36px;
    margin-bottom: 30px; }
  .parteners .flex-partners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .parteners .flex-partners .one-partner {
      width: 25%;
      padding: 0 10px; }
      .parteners .flex-partners .one-partner img {
        margin: 0 auto; }

.sec-lvl-5 {
  padding-top: 105px;
  padding-bottom: 60px; }
  .sec-lvl-5 .for-b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .sec-lvl-5 .for-b h4 {
      font-size: 56px;
      letter-spacing: 0.4px;
      border-bottom: 3px solid #000;
      line-height: 48px;
      margin-bottom: 50px;
      font-family: "BebasNeueReg"; }
  .sec-lvl-5 .list-acceleration .one-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 30px; }
    .sec-lvl-5 .list-acceleration .one-item .num {
      width: 50px;
      height: 50px;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      background: #266ad2;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      font-family: "BebasNeueReg";
      color: #fff;
      font-size: 34px;
      letter-spacing: 0.3px;
      position: relative;
      top: -7px; }
    .sec-lvl-5 .list-acceleration .one-item .desc {
      width: 100%;
      padding-left: 25px; }
      .sec-lvl-5 .list-acceleration .one-item .desc .f {
        font-family: "BebasNeueReg";
        font-size: 36px;
        margin-bottom: 7px;
        letter-spacing: 0.3px;
        line-height: 36px; }
      .sec-lvl-5 .list-acceleration .one-item .desc .s {
        font-family: "BebasNeueReg";
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: -0.2px;
        color: #8e8e8e; }

/*# sourceMappingURL=style.css.map */